@use 'css/variables';

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

::selection{
    background: variables.$off-black;
    color: variables.$off-white;
}

:focus{
    outline: none;
    border-bottom: 1px solid variables.$contrast-gray;
}

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-variation-settings: 'wght' 380;
    line-height: 1.5;
    color: variables.$off-black;
    background-color: variables.$off-white;

}