@font-face {
    font-family: 'Resin';
    src: url('./fonts/RESIN/RESIN-Regular.ttf') format('ttf'),
        url('./fonts/RESIN/RESIN-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Anonymous Pro Regular';
    src: url('./fonts/anonymous-pro/AnonymousPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Resolution VF';
    src: url('./fonts/Resolution/ResolutionDisplayVF.ttf');
}

:root {
    --resolution-font-axis: 800; 
    font-family: 'Anonymous Pro Regular', monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: #f8f8f8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.resolution {
    font-family: 'Resolution VF';
    font-variation-settings: 'wght' var(--resolution-font-axis);
}

header {
    max-width: fit-content;
    margin: 0 auto;
    padding: 1em;
    background-color: black;
    color: white;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    h1 {
        font-family: 'Resin', Helvetica, sans-serif;
        margin: 0;
    }
}

h1,
h2 {
    font-family: 'Resin', Helvetica, sans-serif;

}


main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;

    &#ocr-env {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2rem;


        .three-col.ocr-info {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .tesseract-input {
            grid-column: 1 / 2;
        }

        .tesseract-results {
            grid-column: 2 / 3;

        }
    }
}

main.landing {
    padding: 0;
    margin-top: 0;
    justify-items: inherit;
    height: 100dvh;
    gap: 10px;

    article {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: black;
            text-decoration: none;
        }
    }
}



article#resolution {
    background: linear-gradient(180deg, #FCBC19 58.33%, #00A02D 100%);

}

article#disruption {
    background: linear-gradient(180deg, #9351FF 0%, #FF7A00 100%);
}

article#disorientation {
    background: linear-gradient(180deg, #FF0000 0%, #338FD8 60.42%, #0FA9FF 100%);
}

article.three-col {
    column-count: 3;
}

nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: black;
    color: white;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;


        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

button {
    font-family: inherit;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
}

select,
input[type="file"] {
    font-family: inherit;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

#log {
    .progress,
    .status,
    .confidence > * {
        display: inline-block;
        padding-right: .5em;    
    }

    .progress,
    .status {
        font-size: 1.2em;
    }
}

#selected-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
    main.landing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}