@use 'css/fonts';
@use 'css/variables';
@use 'css/base';
@use 'css/form';
@use 'css/typo';
@use 'css/buttons';
@use 'css/slider';

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

:root {
    --resolution-font-axis: 800;
    --disruption-font-axis: 0;
    --disorientation-font-axis: 0;
}

header {
    max-width: fit-content;
    margin: 0 auto;
    padding: 1em;
    background-color: variables.$off-black;
    color: variables.$off-white;
    text-align: center;

    h1 {
        font-family: 'Resin', Helvetica, sans-serif;
        margin: 0;
    }
}

nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: variables.$off-black;
    color: white;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;


        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 2rem;

    h2,
    p.subline {
        grid-column: 1 / 10;
    }

    section {
        grid-column: 1 / 7;
        margin-block-end: 2rem;

        &.info,
        &.ocr-test {
            display: grid;
            grid-template-columns: subgrid;
            gap: 0 2rem;

            .description {
                grid-column: 1 / 4;
            }

            .images {
                grid-column: 4 / 7;
            }
        }
    }


    &#ocr-env {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2rem;

        .three-col.ocr-info {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .tesseract-input {
            grid-column: 1 / 2;
        }

        .tesseract-results {
            grid-column: 2 / 3;

        }
    }

    &.landing {
        margin: 0;
        padding: 2rem;
        justify-items: inherit;
        gap: 1rem;

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border: 1px solid variables.$off-black;

            &#resolution {}

            &#disruption {}

            &#disorientation {}

            a {
                color: variables.$off-black;
                text-decoration: none;
            }
        }
    }


    article.three-col {
        column-count: 3;
    }

    p+a {
        text-underline-offset: .25rem;

        &::after {
            content: '→';

        }
    }
}

@media only screen and (min-width: 768px) {
    main.landing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




#log {

    .progress,
    .status,
    .confidence>* {
        display: inline-block;
        padding-right: .5em;
    }

    .progress,
    .status {
        font-size: 1.2em;
    }
}

#selected-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 2rem 0;
}



.letters {
    grid-column: 1 /3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-top: 1px solid variables.$off-black;
    border-left: 1px solid variables.$off-black;
}

.letter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid variables.$off-black;
    border-right: 1px solid variables.$off-black;
    padding: 1rem;
    font-size: 6rem;

    span {
        font-size: .8rem;
        font-family: 'Rubik', sans-serif;
        font-variation-settings: 'wght' 380;
        color: variables.$contrast-gray;
    }
}

.demo-result.resolution {
    background: white;
    padding: 2rem 1rem;
    border: 1px solid variables.$off-black;
}