@font-face {
    font-family: 'Resin';
    src: url('./fonts/RESIN/RESIN-Regular.ttf') format('ttf'),
        url('./fonts/RESIN/RESIN-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubik Italic';
    src: url('./fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Resolution VF';
    src: url('./fonts/Resolution/ResolutionDisplayVF.ttf');
}

:root {
    --resolution-font-axis: 800;
    --off-white: #f8f8f8;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

::selection{
    background: black;
    color: var(--off-white);
}

body {
    min-height: 100dvh;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-variation-settings: 'wght' 380;
    line-height: 1.5;
    color: black;
    background-color: var(--off-white);

}

h1 {
    font-family: 'Resin', Helvetica, sans-serif;
    margin-block-end: 1rem;
}

h2 {
    font-variation-settings: 'wght' 500;
}

h3 {
    font-variation-settings: 'wght' 450;
}

*.hyphenate {
    hyphens: auto;

}

strong {
    font-variation-settings: 'wght' 500;
}

em {
    font-family: 'Rubik italic';
}

a {
    color: black;
}

h1, h2, h3, p {
    margin-block-start: 0;
}


.resolution {
    font-family: 'Resolution VF';
    font-variation-settings: 'wght' var(--resolution-font-axis);
    font-size: 5rem;
    line-height: 1;
}

header {
    max-width: fit-content;
    margin: 0 auto;
    padding: 1em;
    background-color: black;
    color: var(--off-white);
    text-align: center;

    h1 {
        font-family: 'Resin', Helvetica, sans-serif;
        margin: 0;
    }
}

nav {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
    background-color: black;
    color: white;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;


        li {
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;

    &#ocr-env {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2rem;

        .three-col.ocr-info {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        .tesseract-input {
            grid-column: 1 / 2;
        }

        .tesseract-results {
            grid-column: 2 / 3;

        }
    }

    &.landing {
        margin: 0;
        padding: 2rem;
        justify-items: inherit;
        gap: 1rem;

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            border: 1px solid black;

            &#resolution {}

            &#disruption {}

            &#disorientation {}

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    article.three-col {
        column-count: 3;
    }

    p + a {
        text-underline-offset: .5rem;

        &::after {
            content: '→';
            
        }
    }
}

@media only screen and (min-width: 768px) {
    main.landing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


button {
    font-family: inherit;
    padding: 1rem;
}

button.primary {
    background-color: black;
    color: var(--off-white);
    border: none;
}

button.secondary {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

button.secondary.invert {
    background-color: transparent;
    color: var(--off-white);
    border: 1px solid var(--off-white);
}

form.font-controls {
    background: black;
    color: white;
    padding: 1em;
    margin-block-start: 1.5rem;
    * {
        margin: 1rem 0;
    }
}

select {
    font-family: inherit;
    padding-inline: 1em 2em;
    padding-block: 1em;
    background-color: black;
    color: var(--off-white);
    appearance: none;
    border: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: "↓";
    font-size: 1rem;
    top: .5rem;
    right: .5rem;
    position: absolute;
    color: var(--off-white);
}

input[type="file"]::file-selector-button {
    font-family: 'Anonymous Pro Regular', monospace !important;
    font-size: inherit;
    font-weight: inherit;
    padding-inline: 1em;
    padding-block: 1em;
    border: none;
    background: black;
    color: var(--off-white);
}


#log {

    .progress,
    .status,
    .confidence>* {
        display: inline-block;
        padding-right: .5em;
    }

    .progress,
    .status {
        font-size: 1.2em;
    }
}

#selected-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 2rem 0;
}



.letters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.letter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem;
    font-size: 6rem;

    span {
        font-size: .8rem;
        font-family: 'Rubik', sans-serif;
        font-variation-settings: 'wght' 380;
        color: gray;
    }
}

input[type=range] {
    height: 1px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: none;
    background: #FFFFFF;
    border-radius: 0px;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: 1px solid #000000;
    height: 30px;
    width: 10px;
    border-radius: 0px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -17.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FFFFFF;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 35px;
    width: 10px;
    border-radius: 0px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #FFFFFF;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 35px;
    width: 10px;
    border-radius: 0px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FFFFFF;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
  }
  